%% SPDX-License-Identifier: BSD-3-Clause
%% SPDX-FileCopyrightText: 2019 Bram Verburg
%% SPDX-FileCopyrightText: 2024 Sebastian Strollo
%% SPDX-FileCopyrightText: 2024 Máté Lajkó
%% SPDX-FileCopyrightText: 2025 Stritzinger GmbH
%% SPDX-FileCopyrightText: 2025 Erlang Ecosystem Foundation

{erl_opts, [debug_info]}.

{dialyzer, [
    {warnings, [
        error_handling,
        no_unknown
    ]}
]}.

{deps, [
    {jsone, "1.9.0"}
]}.

{project_plugins, [
    rebar3_ex_doc,
    rebar3_hex,
    erlfmt,
    covertool,
    rebar3_lint
]}.

{ex_doc, [
    {extras, ["README.md"]},
    {main, "README.md"},
    {source_url, "https://github.com/voltone/rebar3_sbom"}
]}.

{hex, [{doc, ex_doc}]}.

{cover_export_enabled, true}.
{covertool, [
    {coverdata_files, ["ct.coverdata"]},
    {prefix_len, 2}
]}.
