{erl_opts, [debug_info]}.

{dialyzer, [
    {warnings, [
        error_handling,
        no_unknown
    ]}
]}.

{deps,
 [
  { jsone, "1.9.0" }
 ]}.

{project_plugins, [
    rebar3_ex_doc,
    rebar3_hex,
    erlfmt
]}.

{ex_doc, [
    {extras, ["README.md"]},
    {main, "README.md"},
    {source_url, "https://github.com/voltone/rebar3_sbom"}
]}.

{hex, [{doc, ex_doc}]}.
